In [ ]:
import numpy as np
import pandas as pd
import os
import re
import nltk
nltk.download('stopwords')
import warnings
warnings.filterwarnings('ignore')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
stop = stopwords.words('english')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
corpus = pd.read_csv("/content/drive/MyDrive/Oriserve/data/oriserve.csv")
corpus.drop(corpus.filter(regex="Unnamed"),axis=1, inplace=True)
corpus.head(3)

                                                Text
0  Moeller's student-run newspaper, The Crusader,...
1  In 2008, The Crusader won First Place, the sec...
2  The Squire is a student literary journal that ...

In [ ]:
#check duplicate value and drop
def duplicated_values_data(data):
    dup=[]
    columns=data.columns
    for i in data.columns:
        dup.append(sum(data[i].duplicated()))
    return pd.concat([pd.Series(columns),pd.Series(dup)],axis=1,keys=['Columns','Duplicate count'])
duplicated_values_data(corpus)

  Columns  Duplicate count
0    Text              122

In [ ]:
corpus = corpus.drop_duplicates(keep='first')

In [ ]:
#check duplicate value again
def duplicated_values_data(data):
    dup=[]
    columns=data.columns
    for i in data.columns:
        dup.append(sum(data[i].duplicated()))
    return pd.concat([pd.Series(columns),pd.Series(dup)],axis=1,keys=['Columns','Duplicate count'])
duplicated_values_data(corpus)

  Columns  Duplicate count
0    Text                0

In [ ]:
def preprocessing(dataframe):
  dataframe['Text'] = dataframe['Text'].str.replace('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', ' ')      # remove url
  dataframe['Text'] = dataframe['Text'].str.replace(r'[\w\.-]+@[\w\.-]+', ' ')                                                                  # remove e-mail
  dataframe['Text'] = dataframe['Text'].str.replace(r'(?<=#)\w+', ' ')                                                                          # remove hash text
  dataframe['Text'] = dataframe['Text'].str.replace(r'(?<=@)\w+', ' ')                                                                          # remove mention
  dataframe['Text'] = dataframe['Text'].str.replace(r'[0-9]+', ' ')                                                                             # remove number
  dataframe['Text'] = dataframe['Text'].str.replace(r'\b(19[40][0-9]|20[0-1][0-9]|2020)\b', ' ')                                                # remove year
  dataframe['Text'] = dataframe['Text'].str.replace(r'[^A-Za-z0-9 ]', ' ')                                                                      # remove non alphanumeric            
  dataframe['Text'] = dataframe['Text'].str.replace(r'\b(1[0-2]|0[1-9])/(3[01]|[12][0-9]|0[1-9])/([0-9]{4})\b', ' ')                            # remove dates
  dataframe['Text'] = dataframe['Text'].str.replace(r'\bIND(\d+)', ' ')                                                                         # remove id
  dataframe['Text'] = dataframe['Text'].str.replace(r'<.*?>', ' ')                                                                              # remove tags
  dataframe['Text'] = dataframe['Text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))                           # remove stopwords
  dataframe['Text'] = dataframe['Text'].str.replace(r'[^\w\s]+', '')                                                                            # remove punctuation
  dataframe['Text'] = dataframe['Text'].str.lower()                                                                                             # convert all text in lower form

In [ ]:
preprocessing(corpus)

In [ ]:
corpus.head(5)

                                                Text
0  moeller student run newspaper the crusader con...
1  in the crusader first place second highest hon...
2  the squire student literary journal features s...
3  paul keels play play announcer ohio state univ...
4                    joe uecker ohio state senator r

In [ ]:
corpus.tail(5)

                                                    Text
46112  vancouver characteristic approach urban planni...
46113  vancouver also considered worst traffic canada...
46114  the vancouver art gallery housed downtown neoc...
46115  a prominent addition city landscape giant tent...
46116  a collection edwardian buildings city old down...

In [ ]:
corpus.to_csv('/content/drive/MyDrive/Oriserve/data/preprocessed_data')